@import 'reset.scss';
button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  line-height: 23px;

  & > * {
    grid-column: 2 / -2;
  }

  header {
    grid-column: 1 / -1;
    // Photo by Karsten Würth (@inf1783) on Unsplash
    background: #fdbc9a url('../../public/assets/images/clocks.jpg')
      no-repeat center;
    background-size: cover;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

    h1 {
      font-size: 3.5em;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  main {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
}

.bacon > img {
  width: 75px;
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
}

.timer-container {
  max-width: 200px;
  margin: 0px auto;
}

.timer-upper-container {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timer-down-container {
  justify-content: center;
  padding-top: 20px;
  display: flex;
}

#increment-button, #decrement-button {
  width: 30px;
  height: 30px;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0px 10px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#increment-button:hover, #decrement-button:hover {
  background-color: #b3d3ea;
  color: #2c5777;
}

#increment-button:focus, #decrement-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#increment-button:active, #decrement-button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

#start-button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

#start-button:hover,
#start-button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

#start-button:active {
  background: #09223b;
  color: rgb(255, 255, 255);
}

#start-button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.hidden {
  display: none;
}